# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Nerdos::Application.config.secret_token = 'c90ffcbb2b0bdfc1fa570f1e0c3701cbf1e5a19591933bbe66fd958c8538e2dd77f86358523f77a0dfbb4c8687a5a3b3bfe4659288dbf9e62396a78898c70a52'
