@import 'constantes';

.container {
  @include corner(10px);
  background-color: $gris;
  padding: 1em;
  margin: 0.5em auto;
  h1, h2, h3, h4, h5, h6 {
    color: $verde;
    text-transform: uppercase;
  }

  dl dd {
    margin-left: 23px;
  }

  a {
    color: $amarillo;
    &:hover {
      color: darken($amarillo, 20%) !important;
      text-decoration: underline;
    }
  }

  input[type="submit"], .button {
    background-color: $amarillo;
    border-color: darken($amarillo, 10%);
    color: $gris;
  }


  #breadcrumbs {
    li {
      a {
        color: $amarillo;
      }
    }
  }

  #wrapper {
    color: white;
  }

  #header {
    background-color: $gris;

    #logo {
      float: left;
    }

    nav#bottom-nav-bar {
      padding-bottom: 0.5em;

      #main-nav-bar {
        #link-to-cart {
          background-image: none;
          padding-left: 0;
          a {
            color: $verde;
            padding-left: 25px;
            &.empty {
              background: transparent image-url('fugue-icons/baggage-cart.png') no-repeat center left;
            }
            &.full {
              background: transparent image-url('fugue-icons/baggage-cart-box.png') no-repeat center left;
            }
          }
        }
      }

    }

    #slogan {
      margin: 5px 0;
      color: $verde;
      text-align: center;
      line-height: 54px;
      font-size: 46px;
      font-family: "allerbold";
      @include filete(2px, black);
    }

    #contacto {
      margin-top: 10px;
      text-align: right;
      background: $gris;
      color: $amarillo;
      font-size: large;
      font-family: "allerregular";
      font-weight: bold;
    }

  }

  .flash.notice, .notice.errorExplanation {
    background-color: $amarillo;
    color: $gris;
  }

}
